* {
    margin: 0;
    padding: 0;
}

/*font-family tipos de fuente*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Font-size*/

body {
    font-size: 18px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;
}

/*Font-weight*/

h2 {
    font-weight: lighter;
}

/*Text-align*/

body {
    text-align: center;
}